<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/productos.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="js/jquery-3.4.1.slim.min.js">
	<link rel="stylesheet" href="js/bootstrap.min.js"> <!-- Gem style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/carrito.css">
	<link rel="stylesheet" href="https://img1.wsimg.com/ux/1.3.9-brand/css/uxcore.min.css">
	<script src="https://kit.fontawesome.com/7bd9185960.js" crossorigin="anonymous"></script>
	<title>Side Cart</title>
</head>
<body class="foo">

	<header>
		<div id="logo"><img src="img/Logo.png"  style="width: 240px; margin-top: -25px;" alt="Homepage"></div>

		<div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
		<div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>

	<nav id="main-nav">
		<ul>
			<li><a class="current" href="#0">Inicio</a></li>
			<li><a href="#0">Productos</a></li>
			<li><a href="#0">Servicios</a></li>
			<li><a href="#0">Contacto</a></li>
			<li><a href="#0" id="user" ><i class="far fa-user"></i></a></li>

			<li><a href="#0">Idioma</a></li>
		</ul>
	</nav>
	
</header>
<section class="container">
	<br>
	<div class="container">
  <div class="row" style="background-color: white;">
  <div class="shopping-cart col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
  
  <div class="column-labels">
	<label class="product-image">Image</label>
	<label class="product-details">Product</label>
	<label class="product-price">Price</label>
	<label class="product-quantity">Quantity</label>
	<label class="product-removal">Remove</label>
	<label class="product-line-price">Total</label>
  </div>
  
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
	</div>
	<div class="product-details">
	  <div class="product-title">Dingo Dog Bones</div>
	  <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
	</div>
	<div class="product-price">12.99</div>
	<div class="product-quantity">
	  <input type="number" value="2" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">25.98</div>
  </div>
  <div class="product">
	<div class="product-image">
	  <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png">
	</div>
	<div class="product-details">
	  <div class="product-title">Nutro™ Adult Lamb and Rice Dog Food</div>
	  <p class="product-description">Who doesn't like lamb and rice? We've all hit the halal cart at 3am while quasi-blackout after a night of binge drinking in Manhattan. Now it's your dog's turn!</p>
	</div>
	<div class="product-price">45.99</div>
	<div class="product-quantity">
	  <input type="number" value="1" min="1">
	</div>
	<div class="product-removal">
	  <button class="remove-product">
		<i class="fas fa-times"></i>
	  </button>
	</div>
	<div class="product-line-price">45.99</div>
  </div>
	  
  
  </div>
  
  <div class="summary col-12 col-sm-12col-md-12 col-lg-5 col-xl-5" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="cd-cart-total">
		<dl class="subtotal">
			  <dt>Subtotal</dt>
			  <dd class="totals-value" id="cart-subtotal">71.97</dd>
			  <dt><a href="/taxes">Estimated Taxes & Fees</a></dt>
			  <dd class="totals-value" id="cart-tax">3.60</dd>
			</dl>
				</div> <!-- cd-cart-total -->
	<dl class="total">
	  <dt>Total</dt>
	  <dd class="totals-value" id="cart-total">90.57</dd>
	</dl>
	<dl class="support">
	  <dt><a href="/savings/">Shipping</a></dt>
	  <dd class="totals-value" id="cart-shipping">15.00</dd>
	  <dt><a href="/promocode/add">Have a promocode?</a></dt>
	</dl>
	<div class="payment">
	  <a href="payment/add">Add</a>
	  <h4 class="headline-primary">Payment</h3>
	  <div class="ux-card">
		<a href="/payment/{id}"><img src="https://img1.wsimg.com/fos/react/sprite.svg#visa" height="32" width="50" /> John Doe</a>
	  </div>
	</div>
	<div class="terms">
	  <h4 class="headline-primary">Terms & Conditions</h3>
	  <p class="review">Clicking on "I Agree" means you agree to GoDaddy's <a href="terms/show">Terms & Conditions</a>.</p>
	  <p class="review"><strong>Products automatically</strong> renew until cancelled, and are billed to your payment method on file. Turn off auto-renew in your GoDaddy account.</p>
	  <p class="agreed">I've read and agreed to the <a href="terms/show">Term & Conditions</a>.</p>
	  <button type="button" class="btn btn-purchase review">I Agree</button>
	</div>
	<div class="complete">
	  <button type="button" disabled="disabled" class="btn btn-purchase">Complete Purchase</button>
	</div>
  </div>
  </div>
  </div>
</section>
		<p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
	</div> 

	

	<div id="cd-shadow-layer"></div>
	<div id="cd-cart">
		<h2>Cart</h2>
		<ul class="cd-cart-items">
			<li>
				<span class="cd-qty">1x</span> Product Name
				<div class="cd-price">$9.99</div>
				<a href="#0" class="cd-item-remove cd-img-replace">Remove</a>
			</li>

			<li>
				<span class="cd-qty">2x</span> Product Name
				<div class="cd-price">$19.98</div>
				<a href="#0" class="cd-item-remove cd-img-replace">Remove</a>
			</li>

			<li>
				<span class="cd-qty">1x</span> Product Name
				<div class="cd-price">$9.99</div>
				<a href="#0" class="cd-item-remove cd-img-replace">Remove</a>
			</li>
		</ul> <!-- cd-cart-items -->

		<div class="cd-cart-total">
			<p>Total <span>$39.96</span></p>
		</div> <!-- cd-cart-total -->

		<a href="#0" class="checkout-btn">Checkout</a>
	
	</div> <!-- cd-cart -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Gem jQuery -->

<script src="js/js.js"></script>
	  
<footer>
	<div class="container">
		<br>
<div class="row" id="rowFooter" style=" margin-top: 40px;">
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center; margin-left: 0px;"><p>Inicio</p></div>
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center;"><p>Productos</p></div>
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center;"><p>Servicio</p></div>
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center;"><p>Contacto</p></div>
</div>
<div style="border-bottom: solid 1px white; margin: auto; width: 284px;;"></div> <!-- Separador-->
</div>
<div style="text-align: center;"><p id="DirecFooter">1717 Harrison St, San Francisco, CA94103, USA</p>
<p id="DirecFooter">© Yomo S.A</p></div>
<br>
</footer>
</body>
</html>