<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/productos.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/estilosproDetalle.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="js/jquery-3.4.1.slim.min.js">
	<link rel="stylesheet" href="js/bootstrap.min.js"> <!-- Gem style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<title>Side Cart</title>
</head>
<body class="foo">

	<header>
		<div id="logo"><img src="img/Logo.png"  style="width: 240px; margin-top: -25px;" alt="Homepage"></div>

		<div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
		<div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>

	<nav id="main-nav">
		<ul>
			<li><a class="current" href="#0">Inicio</a></li>
			<li><a href="#0">Productos</a></li>
			<li><a href="#0">Servicios</a></li>
			<li><a href="#0">Contacto</a></li>
			<li><a href="#0" id="user" ><i class="far fa-user"></i></a></li>
			<script src="https://kit.fontawesome.com/7bd9185960.js" crossorigin="anonymous"></script>
			<li><a href="#0">Idioma</a></li>
		</ul>
	</nav>
	
</header>
<main>
	<div class="container">
	  <div class="grid second-nav">
		<div class="column-xs-12">
		  <nav>
			<ol class="breadcrumb-list">
			  <li class="breadcrumb-item"><a href="#">Home</a></li>
			  <li class="breadcrumb-item"><a href="#">Household Plants</a></li>
			  <li class="breadcrumb-item active">Bonsai</li>
			</ol>
		  </nav>
		</div>
	  </div>
	  <div class="grid product">
		<div class="column-xs-12 column-md-7">
		  <div class="product-gallery">
			<div class="product-image">
			  <img class="active" src="https://source.unsplash.com/W1yjvf5idqA">
			</div>
			<ul class="image-list">
			  <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li>
			  <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>
			  <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li>
			</ul>
		  </div>
		</div>
		<div class="column-xs-12 column-md-5">
		  <h1>Bonsai</h1>
		  <h2>$19.99</h2>
		  <div class="description">
			<p>The purposes of bonsai are primarily contemplation for the viewer, and the pleasant exercise of effort and ingenuity for the grower.</p>
			<p>By contrast with other plant cultivation practices, bonsai is not intended for production of food or for medicine. Instead, bonsai practice focuses on long-term cultivation and shaping of one or more small trees growing in a container.</p>
		  </div>
		  <button class="add-to-cart">Add To Cart</button>
		</div>
	  </div>
	  <div class="grid related-products">
		<div class="column-xs-12">
		  <h3>You may also like</h3>
		</div>
		<div class="column-xs-12 column-md-4">
		  <img src="https://source.unsplash.com/miziNqvJx5M">
		  <h4>Succulent</h4>
		  <p class="price">$19.99</p>
		</div>
		<div class="column-xs-12 column-md-4">
		  <img src="https://source.unsplash.com/2y6s0qKdGZg">
		  <h4>Terranium</h4>
		  <p class="price">$19.99</p>
		</div>
		<div class="column-xs-12 column-md-4">
		  <img src="https://source.unsplash.com/6Rs76hNbIWE">
		  <h4>Cactus</h4>
		  <p class="price">$19.99</p>
		</div>
	  </div>
	</div>
  </main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Gem jQuery -->
<footer>
	<div class="container">
		<br>
<div class="row" id="rowFooter" style=" margin-top: 40px;">
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center; margin-left: 0px;"><p>Inicio</p></div>
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center;"><p>Productos</p></div>
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center;"><p>Servicio</p></div>
	<div class="col-5 col-sm-2 col-md-2 col-lg-2 col-xl-2 form-group" style="text-align: center;"><p>Contacto</p></div>
</div>
<div style="border-bottom: solid 1px white; margin: auto; width: 284px;;"></div> <!-- Separador-->
</div>
<div style="text-align: center;"><p id="DirecFooter">1717 Harrison St, San Francisco, CA94103, USA</p>
<p id="DirecFooter">© Yomo S.A</p></div>
<br>
</footer>
</body>
</html>