{% extends "page/layout.html.twig" %}
{% block head %} 
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="plugins/owl.carousel/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="plugins/owl.carousel/dist/assets/owl.theme.default.min.css">
        <script src="/plugins/owl.carousel/dist/owl.carousel.min.js"></script>
        <script src="/js/js-admin/carousel.js"></script>
{% endblock %}
{% block contenido %}
<div class="clearboth"></div>

<section>
<div class="container" style="margin-top: 100px;">
		<h1>Categorías</h1>
  

                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="mb-4">Owl Carousel Basic</h5>
                                <div class="row">
                                    <div class="col-md-12 mb-4 pl-0 pr-0">
                                        <div class="owl-container">
                                            <div class="owl-carousel basic">
                                                <div class="card flex-row">
                                                    <div class="w-50 position-relative">
                                                        <img class="card-img-left" src="../../img/portfolio-1.jpg" alt="Card image cap">
                                                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                                                    </div>
                                                    <div class="w-50">
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Homemade Cheesecake with Fresh Berries and Mint</h6>

                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card flex-row">
                                                    <div class="w-50 position-relative">
                                                        <img class="card-img-left" src="../../img/portfolio-2.jpg" alt="Card image cap">
                                                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                                                    </div>
                                                    <div class="w-50">
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Wedding Cake with Flowers Macarons and Blueberries</h6>
                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card flex-row">
                                                    <div class="w-50 position-relative">
                                                        <img class="card-img-left" src="../../img/portfolio-3.jpg" alt="Card image cap">
                                                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                                                    </div>
                                                    <div class="w-50">
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Cheesecake with Chocolate Cookies and Cream Biscuits</h6>

                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card flex-row">
                                                    <div class="w-50 position-relative">
                                                        <img class="card-img-left" src="../../img/portfolio-4.jpg" alt="Card image cap">
                                                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                                                    </div>
                                                    <div class="w-50">
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Cheesecake with Chocolate Cookies and Cream Biscuits</h6>

                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card flex-row">
                                                    <div class="w-50 position-relative">
                                                        <img class="card-img-left" src="../../img/portfolio-5.jpg" alt="Card image cap">
                                                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                                                    </div>
                                                    <div class="w-50">
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Homemade Cheesecake with Fresh Berries and Mint</h6>

                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card flex-row">
                                                    <div class="w-50 position-relative">
                                                        <img class="card-img-left" src="../../img/portfolio-6.jpg" alt="Card image cap">
                                                        <span class="badge badge-pill badge-primary position-absolute badge-top-left">New</span>
                                                    </div>
                                                    <div class="w-50">
                                                        <div class="card-body">
                                                            <h6 class="mb-4">Cheesecake with Chocolate Cookies and Cream Biscuits</h6>
                                                            <footer>
                                                                <p class="text-muted text-small mb-0 font-weight-light">09.04.2018</p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-nav text-center">
                                                <a href="#" class="left-arrow owl-prev">
                                                    <i class="ik ik-chevron-left"></i>
                                                </a>
                                                <div class="slider-dot-container"></div>
                                                <a href="#" class="right-arrow owl-next">
                                                    <i class="ik ik-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	</section>

<hr style="margin-top: 100px;">
<div class="clearboth"></div>
<section>
	<div class="container" style="margin-top: 65px;margin-bottom: 100px;">
		<h1>Sobre Nosotros</h1>
		<div class="row" style="text-align: justify; margin-top: 60px;">
			<div class="col-sm-12 col-md-12  col-xl-12" style="margin-top: 10px;">Lorem ipsum dolor sit amet
				consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed eius nisi error
				officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe mollitia.Lorem
				ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed
				eius nisi error officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe
				mollitia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum
				harum aut sed eius nisi error officia quaerat. Dolores molestiae placeat voluptates vero. Nulla
				eligendi saepe mollitia.</div>
	</div>
     <div id="lg-shadow-layer" class="lg-shadow-layer"></div>
<article id="log" class="wrapper">
  <form class="login">
  <div class="row">
    <div class="title col-7 col-sm-6 col-md-6 col-lg-6 col-xl-6">Iniciar Sesión </div>
	<div class="title col-5 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="justify-content: flex-end; display: flex;"><a href="javascript:oculto()">X</a></div>
	</div>
    <input type="text" placeholder="Email"/>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Contraseña" />
    <i class="fa fa-key"></i>
    <a href="#">¿Has olvidado la contraseña?</a>
    <button>
      <i class="spinner"></i>
      <span class="state">Acceder</span>
    </button>
  </form>
</article>
		<script src="/js/login.js"></script>
</section>
{% endblock %}