{% extends "page/layout.html.twig" %}

{% block contenido %}
<div class="clearboth"></div>

<section>
	<div class="container" style="margin-top: 100px;">
		<h1>Categorías</h1>
		<div class="row" style="text-align: justify; margin-top: 60px;">
			<div class="col-6 col-lg-4" style="margin-top: 10px;"> <img src="img/thumb.jpg" alt="Preview image"></div>
			<div class="col-6 col-lg-4" style="margin-top: 10px;" > <img src="img/thumb.jpg" alt="Preview image"></div>
			<div class="col-6 col-lg-4" style="margin-top: 10px;"> <img src="img/thumb.jpg" alt="Preview image"></div>
	</div>
	</section>

<hr style="margin-top: 100px;">
<div class="clearboth"></div>
<section>
	<div class="container" style="margin-top: 65px;margin-bottom: 100px;">
		<h1>Sobre Nosotros</h1>
		<div class="row" style="text-align: justify; margin-top: 60px;">
			<div class="col-sm-12 col-md-12  col-xl-12" style="margin-top: 10px;">Lorem ipsum dolor sit amet
				consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed eius nisi error
				officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe mollitia.Lorem
				ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed
				eius nisi error officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe
				mollitia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum
				harum aut sed eius nisi error officia quaerat. Dolores molestiae placeat voluptates vero. Nulla
				eligendi saepe mollitia.</div>
	</div>
</section>
{% endblock %}