{% extends "page/layout.html.twig" %}
{% block head %}
<link rel="stylesheet" href="css/productos.css">

{% endblock %}
{% block contenido %}

<section>
	<div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
		<div class="jumbotron jumbotron-fluid"
			style=" background-size: cover; background-repeat: no-repeat;height: 40em;margin-top: 0px">
		</div>
	</div>
</section>
<section class="container">
	<h1 style="text-align: center; margin-bottom:56px;">Productos</h1>
			<div class="row">
				<div class="col-6 col-lg-4" > <img src="img/thumb.jpg" alt="Preview image">
					<div id="products"><p>Nombre del producto</p>
					<p>Precio</p></div> </div>
				<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
					<div id="products"><p>Nombre del producto</p>
					<p>Precio</p></div> </div>
				<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
					<div id="products"><p>Nombre del producto</p>
					<p>Precio</p></div> </div>
					<div class="col-6 col-lg-4" > <img src="img/thumb.jpg" alt="Preview image">
						<div id="products"><p>Nombre del producto</p>
						<p>Precio</p></div> </div>
					<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
						<div id="products"><p>Nombre del producto</p>
						<p>Precio</p></div> </div>
					<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
						<div id="products"><p>Nombre del producto</p>
						<p>Precio</p></div> </div>
						<div class="col-6 col-lg-4" > <img src="img/thumb.jpg" alt="Preview image">
							<div id="products"><p>Nombre del producto</p>
							<p>Precio</p></div> </div>
						<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
							<div id="products"><p>Nombre del producto</p>
							<p>Precio</p></div> </div>
						<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
							<div id="products"><p>Nombre del producto</p>
							<p>Precio</p></div> </div>
					</div>
				</div>
			<!-- <li>
				
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="img/thumb.jpg" alt="Preview image">
			</li>
		</ul> cd-gallery-items -->
</section>
{% endblock %}