{% extends "page/layout.html.twig" %}
{% block head %}
<link rel="stylesheet" href="css/productos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block contenido %}

<section class="container">
	<h1 style="text-align: center; margin-bottom:56px;">Productos</h1>
			<div class="row">
				<div class="col-6 col-lg-4" > <img src="img/thumb.jpg" alt="Preview image">
					<div id="products"><p>Nombre del producto</p>
					<p>Precio</p></div> </div>
				<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
					<div id="products"><p>Nombre del producto</p>
					<p>Precio</p></div> </div>
				<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
					<div id="products"><p>Nombre del producto</p>
					<p>Precio</p></div> </div>
					<div class="col-6 col-lg-4" > <img src="img/thumb.jpg" alt="Preview image">
						<div id="products"><p>Nombre del producto</p>
						<p>Precio</p></div> </div>
					<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
						<div id="products"><p>Nombre del producto</p>
						<p>Precio</p></div> </div>
					<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
						<div id="products"><p>Nombre del producto</p>
						<p>Precio</p></div> </div>
						<div class="col-6 col-lg-4" > <img src="img/thumb.jpg" alt="Preview image">
							<div id="products"><p>Nombre del producto</p>
							<p>Precio</p></div> </div>
						<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
							<div id="products"><p>Nombre del producto</p>
							<p>Precio</p></div> </div>
						<div class="col-6 col-lg-4"><img src="img/thumb.jpg" alt="Preview image">
							<div id="products"><p>Nombre del producto</p>
							<p>Precio</p></div> </div>
					</div>
				</div>

</section>
{% endblock %}