{% extends "page/layout.html.twig" %}

{% block contenido %}

<div class="clearboth"></div>

<section>
	<br>
	<h1>Servicios</h1>
	<br>
	<br>
	<div class="row justify-content-center" style="text-align: justify; margin-top: 30px; margin: auto;">
		<div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
			<img src="img/thumb.JPG" width="300px" alt="">
		</div>

		<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4" style="margin-top: 10px;">
			<h3 style="margin-bottom: 10px;">Servicio 1</h3>
			Lorem ipsum dolor sit amet
			consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed eius nisi error
			officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe mollitia.Lorem
			ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed
			eius nisi error officia quaerat.
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-center" style="text-align: justify; margin-top: 30px; margin: auto;">
		<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4" style="margin-top: 10px;">
			<h3 style="margin-bottom: 10px;">Servicio 2</h3>
			Lorem ipsum dolor sit amet
			consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed eius nisi error
			officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe mollitia.Lorem
			ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed
			eius nisi error officia quaerat.
		</div>
		<div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
			<img src="img/thumb.JPG" width="300px" alt="">
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-center" style="text-align: justify; margin-top: 30px; margin: auto;">
		<div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
			<img src="img/thumb.JPG" width="300px" alt="">
		</div>

		<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4" style="margin-top: 10px;">
			<h3 style="margin-bottom: 10px;">Servicio 3</h3>
			Lorem ipsum dolor sit amet
			consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed eius nisi error
			officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe mollitia.Lorem
			ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed
			eius nisi error officia quaerat.
		</div>
	</div>
	<br>
	<br>
	<div class="row justify-content-center" style="text-align: justify; margin-top: 30px; margin: auto;">
		<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4" style="margin-top: 10px;">
			<h3 style="margin-bottom: 10px;">Servicio 4</h3>
			Lorem ipsum dolor sit amet
			consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed eius nisi error
			officia quaerat. Dolores molestiae placeat voluptates vero. Nulla eligendi saepe mollitia.Lorem
			ipsum dolor sit amet consectetur adipisicing elit. Cum dolore delectus nostrum, rerum harum aut sed
			eius nisi error officia quaerat.
		</div>
		<div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
			<img src="img/thumb.JPG" width="300px" alt="">
		</div>
	</div>

</section>

{% endblock %}
