.jumbotron{
    background-color: red !important;
    
}



/* 
@media only screen and (min-width: 768px) {
    .jumbotron {
        margin-top:  50px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .jumbotron {
        margin-top: 80px !important; 
    }
} */