@import url("https://fonts.googleapis.com/css?family=Hind|Open+Sans:400,600");
html, body {
  font-size: 16px;
  line-height: 1.4;
  background: #fff;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
}

abbr[title="Este campo es obligatorio"] {
  text-decoration: none;
}

form,
fieldset,
legend,
label,
input:not([type="radio"]),
select {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

select,
input[type="radio"] {
  cursor: pointer;
}

#buttonForm, #restartForm {
  margin: 0;
  border: none;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: .875rem;
  font-weight: inherit;
  line-height: 2.375rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
}
#divTextarea{width: 96%;}
.container {
  box-sizing: content-box;
  max-width: 640px;
  padding: 15px;
  margin: 2vh auto;
}
@media (min-width: 400px) {

  .container {
    padding: calc(15px + 15px);
  }
}
@media (min-width: 600px) {
  .container {
    padding: calc(15px + 10px);
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: calc(640px + 140px);
  }
}

.width-1-1, .width-1-2, .child-width-1-2 div, .width-1-3, .child-width-1-3 div, .width-1-4, .child-width-1-4 div, .child-width-3-4 div:last-child, .child-width-4-3 div:first-child, .width-3-4, .child-width-3-4 div:first-child, .child-width-4-3 div:last-child, .child-width-1-1 div, .child-width-1-2 .switch {
  width: 96%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 640px) {
  #divTextarea{width: 96%;}
  .width-1-2, .child-width-1-2 div {
    width: 50%;
    padding: .5rem 2rem .5rem 0;
  }
  .width-1-2:last-child, .child-width-1-2 div:last-child {
    padding: .5rem 0 .5rem 0;
  }
}

@media (min-width: 640px) {
  .width-1-3, .child-width-1-3 div {
    width: 33.3%;
    padding: .5rem 2rem .5rem 0;
  }
  .width-1-3:last-child, .child-width-1-3 div:last-child {
    padding: .5rem 0 .5rem 0;
  }
}

@media (min-width: 640px) {
  .width-1-4, .child-width-1-4 div, .child-width-3-4 div:last-child, .child-width-4-3 div:first-child {
    width: 25%;
    padding: .5rem 2rem .5rem 0;
  }
  .width-1-4:last-child, .child-width-1-4 div:last-child, .child-width-3-4 div:last-child, .child-width-4-3 div:last-child:first-child {
    padding: .5rem 0 .5rem 0;
  }
}

@media (min-width: 640px) {
  .width-3-4, .child-width-3-4 div:first-child, .child-width-4-3 div:last-child {
    width: 75%;
    padding: .5rem 2rem .5rem 0;
  }
  .width-3-4:last-child, .child-width-3-4 div:last-child:first-child, .child-width-4-3 div:last-child {
    padding: .5rem 0 .5rem 0;
  }
}

.child-width-1-2 {
  display: block;
}
@media (min-width: 640px) {
  .child-width-1-2 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
.child-width-1-2 div {
  margin-bottom: .5rem;
}
.child-width-1-2 div:last-child {
  margin-bottom: 0;
}
.child-width-1-2 .switch {
  margin-bottom: .5rem;
}
.child-width-1-2 .switch:last-child {
  margin-bottom: 0;
}

.child-width-1-3 {
  display: block;
}
@media (min-width: 640px) {
  .child-width-1-3 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
.child-width-1-3 div {
  margin-bottom: .5rem;
}
.child-width-1-3 div:last-child {
  margin-bottom: 0;
}

.child-width-1-4 {
  display: block;
}
@media (min-width: 640px) {
  .child-width-1-4 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
.child-width-1-4 div {
  margin-bottom: .5rem;
}
.child-width-1-4 div:last-child {
  margin-bottom: 0;
}

.child-width-3-4 {
  display: block;
}
@media (min-width: 640px) {
  .child-width-3-4 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
.child-width-3-4 div:first-child {
  margin-bottom: .5rem;
}
.child-width-3-4 div:last-child {
  margin-bottom: 0;
}

.child-width-4-3 {
  display: block;
}
@media (min-width: 640px) {

  .child-width-4-3 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
.child-width-4-3 div:first-child {
  margin-bottom: .5rem;
}
.child-width-4-3 div:last-child {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0.35rem;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Hind", Helvetica Nueue, Arial, sans-serif;
}

h1 {
  font-size: 2.3rem;
  line-height: 1.1;
  margin: 0 0 0.67rem;
}
@media (min-width: 375px) {
  h1 {
    font-size: calc(2.3rem + .025rem);
    line-height: calc(1.1 + .15);
    margin-bottom: calc(0 0 0.67rem + .05rem);
  }
}
@media (min-width: 400px) {
  h1 {
    font-size: calc(2.3rem + .05rem);
    line-height: calc(1.1 + .2);
    margin-bottom: calc(0 0 0.67rem + .1rem);
  }
}
@media (max-width: 640px){
  #divTextarea{width: 92%;}
  button[type=submit], #restartForm {width: 92% !important;}
}

@media (min-width: 600px) {

  h1 {
    font-size: calc(2.3rem + .1rem);
    line-height: calc(1.1 + .3);
    margin-bottom: calc(0 0 0.67rem + .15rem);
  }
}

p {
  font-family: "Open Sans", Helvetica Nueue, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 1.35rem;
}
p:last-child {
  margin-bottom: 0;
}
@media (min-width: 375px) {
  p {
    font-size: calc(1rem + .025rem);
    margin-bottom: calc(1rem + .05rem);
  }
}
@media (min-width: 400px) {
  p {
    font-size: calc(1rem + .05rem);
    line-height: calc(1.4 + .05);
    margin-bottom: calc(1rem + .1rem);
  }
}
@media (min-width: 600px) {

  p {
    font-size: calc(1rem + .1rem);
    line-height: calc(1.4 + .1);
    margin-bottom: calc(1rem + .15rem);
  }
}

.info {
  font-size: 0.875rem;
}
.info span {
  color: #d4403a;
}

.form-label {
  display: inline-block;
  color: #666666;
  font-family: "Verdana", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 0.5rem 0 0;
}

abbr[title="Este campo es obligatorio"] {
  color: #d4403a;
}

.form-element.valid {
  color: inherit;
  background-color: inherit;
  border-color: #398439;
  box-shadow: inset 0px 0px 0px 1px transparent;
}
.form-element.valid:hover, .form-element.valid:focus {
  color: inherit;
  background-color: inherit;
  border-color: #398439;
  box-shadow: inset 0px 0px 0px 1px #398439;
}

label.error {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.1;
  display: block;
  color: #fff;
  background: #a72925;
  padding: .25rem .75rem .4rem;
}

.form-element.error {
  color: #a72925;
  background-color: #fff;
  border-color: #a72925;
  box-shadow: inset 0px 0px 0px 2px #a72925;
}
.form-element.error::-webkit-input-placeholder {
  color: #d6d6d6;
}
.form-element.error::-moz-placeholder {
  color: #d6d6d6;
}
.form-element.error:-ms-input-placeholder {
  color: #d6d6d6;
}
.form-element.error::-ms-input-placeholder {
  color: #d6d6d6;
}
.form-element.error::placeholder {
  color: #d6d6d6;
}
.form-element.error:hover, .form-element.error:focus {
  color: #222;
  background-color: #fff;
  border-color: #222;
  box-shadow: inset 0px 0px 0px 2px #222;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border-color: #398439;
  background-color: #398439;
  -webkit-box-shadow: 0 0 0px 1px #398439 inset;
}

.form-element {
  display: inline-block;
  color: #141414;
  background-color: rgba(250, 250, 250, 0.25);
  border: 1px solid #b1b1b1;
  border-radius: 0;
  padding: 10px;
  margin: 0;
  position: relative;
  touch-action: manipulation;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: border-color background-color;
  transition-property: border-color background-color;
  -webkit-appearance: none;
}
@media (min-width: 400px) {
  .form-element {
    padding: 12px;
  }
}
@media (min-width: 640px) {
  .form-element {
    padding: 13px;
  }
}
@media (min-width: 900px) {
  .form-element {
    padding: 16px;
  }
}
.form-element:hover {
  color: #141414;
  background-color: transparent;
  border-color: #666666;
  outline: none;
}
.form-element:focus, .form-element:active {
  color: #141414;
  background-color: #fff;
  border-color: #222;
  box-shadow: inset 0px 0px 0px 1px #222;
  outline: none;
}
.form-element::-webkit-input-placeholder {
  color: #6e6e6e;
}
.form-element::-moz-placeholder {
  color: #6e6e6e;
}
.form-element:-ms-input-placeholder {
  color: #6e6e6e;
}
.form-element::-ms-input-placeholder {
  color: #6e6e6e;
}
.form-element::placeholder {
  color: #6e6e6e;
}

legend[for="submissionForm"] {
  padding: 0 0 .5rem;
  margin: 2rem auto .5rem;
  text-align: center;
  position: relative;
}
legend[for="submissionForm"]:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-select-wrapper {
  position: relative;
}
.form-select-wrapper .arrow {
  content: "";
  position: absolute;
  z-index: 1;
  top: 42px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #b1b1b1 transparent transparent transparent;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
@media (min-width: 640px) {
  .form-select-wrapper .arrow {
    top: 52px;
    right: 50px;
  }
}
.form-select-wrapper:hover .arrow, .form-select-wrapper:focus .arrow {
  border-color: #666666 transparent transparent transparent;
}

fieldset.form-element {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: .5rem auto 1rem;
}
fieldset.form-element:hover, fieldset.form-element:focus, fieldset.form-element:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
fieldset.form-element .form-label {
  font-size: 1rem;
}

legend[for="question01"],
legend[for="question02"] {
  font-size: 0.875rem;
  margin-bottom: .15rem;
}

.switch {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #398439;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 0;
}
@media (min-width: 640px) {
  .switch {
    height: 15px;
  }
}
.switch .icon {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 52%;
  left: 50%;
  margin: -2px 0 0 -4px;
  background-color: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 0;
}
.switch .icon:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 12px;
  margin-top: -10px;
  background-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 0;
}

input[type=radio] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: #222;
  background: #fff;
  width: 60px;
  line-height: 31px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label[for=question01Yes],
label[for=question02Yes] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

label[for=question01No],
label[for=question02No] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
}

#question01No:checked ~ .switch,
#question02No:checked ~ .switch {
  color: #fff;
  background: #757575;
}

#question01No:checked ~ .switch .icon,
#question02No:checked ~ .switch .icon {
  background: #fff;
  margin-left: -8px;
}
#question01No:checked ~ .switch .icon:after,
#question02No:checked ~ .switch .icon:after {
  background: #fff;
  height: 20px;
  margin-top: -9px;
  margin-left: 9px;
}

#question01Yes:checked ~ .switch label[for=question01Yes],
#question02Yes:checked ~ .switch label[for=question02Yes] {
  color: #fff;
  background: #398439;
}

#question01No:checked ~ .switch label[for=question01No],
#question02No:checked ~ .switch label[for=question02No] {
  color: #fff;
  background: #757575;
}

.form-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 1rem 0;
  width: 100%;
}
@media (min-width: 640px) {
  .form-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 640px) {
  .form-buttons {
    margin: 1rem 0 2.5rem;
  }
}
.form-buttons div:first-child {
  margin: 1rem 0 1.25rem;
  width: 100%;
}
@media (min-width: 640px) {
  .form-buttons div:first-child {
    margin: 0 1rem 0 0;
    width: initial;
  }
}
.form-buttons button, .form-buttons #restartForm {
  font-family: "Open Sans", Helvetica Nueue, Arial, sans-serif;
}

button[type=submit], #restartForm {
  font-weight: bold;
  border: 1px solid transparent;
  color: #fff;
  background-color: #333;
  width: 100%;
}
button[type=submit]:hover, #restartForm:hover, button[type=submit]:focus, #restartForm:focus {
  background-color: #141414;
}
@media (min-width: 640px) {
  button[type=submit], #restartForm {
    width: initial;
  }
}

button[type=reset], [type=reset]#restartForm {
  color: #333;
  background: transparent;
  border: 1px solid #b1b1b1;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}
button[type=reset]:hover, [type=reset]#restartForm:hover, button[type=reset]:focus, [type=reset]#restartForm:focus {
  color: #141414;
  border: 1px solid #141414;
}
