.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height: 509px;
    margin-left: -26px;
    margin-top: 44px;
margin-bottom: 105px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
@media (max-width: 640px){
    .map-responsive{
        overflow:hidden;
        padding-bottom:50%;
        position:relative;
        height: 509px;
        margin-left: -26px;
        width: 100%;
    }
  }
  @media (max-width: 400px){
    .map-responsive{
        overflow:hidden;
        padding-bottom:50%;
        position:relative;
        height: 509px;
        margin-left: -26px;
        width: 105%;
    }
  }