{% extends "adminPage/layout.html.twig" %}
{% block head %}
        
        <link rel="stylesheet" href="/plugins/chartist/dist/chartist.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/plugins/chartist/dist/chartist.min.js"></script>
        <script src="/js/js-admin/widget-statistic.js"></script>
{% endblock %}
{% block contenido %}
                        <div class="row">
                            <!-- page statustic chart start -->
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-red text-white">
                                    <div class="card-block">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h4 class="mb-0">2,563</h4>
                                                <p class="mb-0">Visits</p>
                                            </div>
                                            <div class="col-4 text-right">
                                                <i class="ik ik-user f-30"></i>
                                            </div>
                                        </div>
                                        <div id="Widget-line-chart1" class="chart-line chart-shadow" style="width:100%;height:75px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-blue text-white">
                                    <div class="card-block">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h4 class="mb-0">3,612</h4>
                                                <p class="mb-0">Orders</p>
                                            </div>
                                            <div class="col-4 text-right">
                                                <i class="ik ik-shopping-cart f-30"></i>
                                            </div>
                                        </div>
                                        <div id="Widget-line-chart2" class="chart-line chart-shadow" style="width:100%;height:75px"></div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-yellow text-white">
                                    <div class="card-block">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h4 class="mb-0">3,550</h4>
                                                <p class="mb-0">Reviews</p>
                                            </div>
                                            <div class="col-4 text-right">
                                                <i class="ik ik-volume-2 f-30"></i>
                                            </div>
                                        </div>
                                        <div id="Widget-line-chart4" class="chart-line chart-shadow" style="width:100%;height:75px"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- page statustic chart end -->

                            <!-- Project statustic start -->
                            
                        </div>
{% block script %}{% endblock %}
{% endblock %}