<!DOCTYPE html>

<title>Edit Pedidos</title>

{% block body %}
    <h1>Edit Pedidos</h1>

    {{ include('pedidos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pedidos_index') }}">back to list</a>

    {{ include('pedidos/_delete_form.html.twig') }}
{% endblock %}
