<!DOCTYPE html>

<title>New Comentario</title>

{% block body %}
    <h1>Create new Comentario</h1>

    {{ include('comentario/_form.html.twig') }}

    <a href="{{ path('comentario_index') }}">back to list</a>
{% endblock %}
